html, body {
	height: 100%;
	width: 100%;
	margin: 0;
}

body {
	padding: 1px; /*avoid collapsing margins*/
}

.left {
	float: left;
}
.navbar {
	width: 100%;
}

#header {
	position: relative;
	top: 0;
	margin: 0;
	background-color: #343434;
	height: 13em;
}

#title {
	position: relative;
	margin: 0 auto;
	width: 75%;
	text-align: center;
	font-size: 2em;
	color: #FFF;
}

.tweb_font {
	font-family: 'Titillium Web', sans-serif;
}

#social {
	position: absolute;
	bottom: 0;
	margin: 10px auto 5px auto;
	height: 20%;
	color: #FFF;
	width: 100%;
}

.social_media {
	position: relative;
	font-size: 1em;
	cursor: auto;
}

.social_media i
{
	height: 1.563em;
	width: 1.563em;
	margin-left: 10px;
    display: inline-block;
    -moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
	border-width: 1px;
	border-color: #000;
	background-color: #000;
    -moz-box-shadow: 0px 0px 2px #888;
	-ms-box-shadow: 0px 0px 2px #888;
	-o-box-shadow: 0px 0px 2px #888;
    -webkit-box-shadow: 0px 0px 2px #888;
    box-shadow: 0px 0px 2px #888;
	text-align: center;
	padding-top: 0.625em;
	-moz-transition: background-color .5s;
	-ms-transition: background-color .5s;
	-o-transition: background-color .5s;
	-webkit-transition: background-color .5s;
	transition: background-color .5s ease-in;
	cursor: pointer;
}

i.fa-twitter:hover {
	background-color: #4099FF;
}

i.fa-facebook:hover {
	background-color: #3B5998;
}

i.fa-instagram:hover {
	background-color: #663300;
}
