/* Coded by Mohdhar Noor for the National Society of Black Engineers
UofT chapter. */
html, body {
	height: 100%;
	width: 100%;
	margin: 0;
}

body {
	/*padding: 1px;*/ /*avoid collapsing margins*/
}

h1 {
	top-margin: 1em;
}

.left {
	float: left;
}
.bar {
	width: 100%;
}

#header {
	position: relative;
	top: 0;
	margin: 0;
	/*background-color: #646464;*/
	height: 13em;
	border-bottom: 2px solid #000;
}

#title {
	position: relative;
	margin: 0 auto;
	width: 75%;
	text-align: center;
	font-size: 2em;
	color: #000;
	font-family: 'Roboto Slab', sans-serif;
	padding-top: 1em;
}

#social {
	position: absolute;
	bottom: 0;
	margin: 10px auto 5px auto;
	height: 20%;
	color: #FFF;
	width: 100%;
	cursor: default;
}

.social_media {
	position: relative;
	font-size: 1em;
}

.social_media i
{
	height: 1.6em;
	width: 1.6em;
	line-height: 1.6em;
	margin-left: 10px;
    display: inline-block;
    -moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
	border-width: 1px;
	border-color: #000;
	background-color: #000;
    -moz-box-shadow: 0px 0px 2px #888;
	-ms-box-shadow: 0px 0px 2px #888;
	-o-box-shadow: 0px 0px 2px #888;
    -webkit-box-shadow: 0px 0px 2px #888;
    box-shadow: 0px 0px 2px #888;
	text-align: center;
	-moz-transition: all .35s;
	-ms-transition: all .35s;
	-o-transition: all .35s;
	-webkit-transition: all .35s;
	transition: all .35s;
	cursor: pointer;
	text-decoration: none !important;
	color: #FFF;
}

.social_media i:clicked {
	color: #FFF;
	text-decoration: none !important;
}

i.fa-twitter:hover {
	background-color: #4099FF;
}

i.fa-facebook:hover {
	background-color: #3B5998;
}

i.fa-instagram:hover {
	background-color: #663300;
}
i.fa-youtube:hover {
	background-color: #CD201F;
}

i.fa-vine:hover {
	background-color: #00A478;
}
i.fa-google-plus:hover {
	
	background: -moz-linear-gradient(#F2B50F, #0266C8, #F90101, #00933B); /* For Firefox 3.6 to 15 */
	background: -ms-linear-gradient(#F2B50F, #0266C8, #F90101, #00933B); /* For Firefox 3.6 to 15 */
	background: -o-linear-gradient(#F2B50F, #0266C8, #F90101, #00933B); /* For Opera 11.1 to 12.0 */
	background: -webkit-linear-gradient(#F2B50F, #0266C8, #F90101, #00933B); /* For Safari 5.1 to 6.0 */
	background: linear-gradient(#F2B50F, #0266C8, #F90101, #00933B); /* Standard syntax */
}

#nsbe_uoft_logo {
	position: fixed;
	top: 0;
	left: 0;
	width: 131.75px;
	height: 106px;
}

.nsbe_logos {
	-moz-transition: transform .1s;
	-ms-transition: transform .1s;
	-o-transition: transform .1s;
	-webkit-transition: transform .1s;
	transition: transform .1s;
}

.nsbe_logos:hover {
	-moz-transform: scale(1.025);
	-ms-transform: scale(1.025);
	-o-transform: scale(1.025);
	-webkit-transform: scale(1.025);
	transform: scale(1.025);
}

#nsbe_national_logo {
	position: fixed;
	top: 5px;
	right: 5px;
	/*width: 101.2px;
	height: 106px;*/
	width: 63px;
	height: 66px;
}

#nsbe_uoft_logo img, #nsbe_national_logo img {
	/*set images to fit dimensions of div*/
	height: 100%;
	width: 100%;
}

#topbar {
	border-bottom: 2px solid #F00;
	height: 1.5em;
}

#topnav {
	list-style-type: none;
	padding: 0;
	margin: 0.5em 0 0 0;
	font-family: 'Roboto Slab', sans-serif;
}

#topnav li {
	float: left;
	line-height: 1em;
	font-size: 1em;
	margin-left: 20px;
	color: #F00;
}

#topnav li:hover {
	font-weight: 700;
	cursor: pointer;
}

.topnav_select {
	font-weight: 700;
	color: blue;
}

/*styling for side navigation bar begins here*/
#sidebar {
	position: relative;
	width: 20%;
	border-right: 2px solid #F00;
	font-family: 'Roboto Slab', sans-serif;
	text-align: center;
}

.sidenav {
	position: absolute;
	display: none;
	top: 0;
	font-size: 1.25em;
	color: #F00;
	list-style-type: none;
	margin: 0 auto;
	left: 0;
	right: 0;
	padding: 0;
}

.sidenav li {
	margin-top: 1em;
}